<!--Contact the owner and/or admin of the page-->
<div class="container-fluid">
  <h1>Contact Us page</h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <a class="media-left" ui-sref="app.contactus">
          <img alt="Generic placeholder image" class="media-object img-rounded" src="https://s-media-cache-ak0.pinimg.com/736x/a1/e3/6b/a1e36bcb8ce179bd8cc8db28ff4ef6fb.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
</div>
