<!--This page will be reached after the user decided to preview his story in contribute.html page,
will show a storyDetail.html page of that story but not implemented yet,
the user can decide to go back with pressing cancel, or decide to publish it and will be shown in the storyMenu.html,
and the user will be redirected to their story page just implemented,
the compilation of the story will follow this pattern
Title > Content > Author > Genre.
For Update:
-users can decide how to layout their pages-->
